

  .mapcont{
      /* align-items: center; */
      text-align: center;
      margin: auto;
      width: 80%;
      height: 30vw;
      /* justify-content: center; */
      box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
      border-radius:10px;
      cursor: pointer;
      background-image: linear-gradient(-45deg, #44f334 0%, #052b0a 50%);
  
  }
  h4{
      font-size: xx-large;
  }
  .mapcont:hover{
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
  
  } 
  .mapcont iframe{
      margin: 10px;
      width: 60%;
      height: 90%;
      border: 2px solid #210c59;
      border-radius: 2%;
  }
 
  
  